<%- include('partials/head') %>


  <%- include('partials/navbar') %>


    <section>
      <div class="home">
        <div>

          <h1 class="brand">Premium Cookies</h1>
          <h3>#NeverPayForPremium</h3>
          <p style="font-weight: 600;">Access premium content without paying for it.</p>
        </div>
      </div>

    </section>
    <section>
      <div class="telegram bg-primary row ">
        <div class="text-center">
          <p class="tele-info">If cookies are not working, then join telegram <a class="tele-link" href="/">Join Now</a>
          </p>
        </div>
      </div>

    </section>
    <div class="row p-3">
      <div class="col-sm-12 col-md-9">
        <% for (let x of website) { %>
          <div class="row p-3 text-center">
            <div class="col-sm-12 col-md-3">
              <img class="card-img" src="<%= x['img_url']%>" alt="Aaman">
            </div>
            <div class="col-sm-12 col-md-9">
              <a href="/udemy">
                <h2>
                  <%= x['name']%>
                </h2>
              </a>
              <p>
                <%= x['info']%>
              </p>
            </div>
          </div>
          <% } %>

      </div>
      <div class="col-sm-12 col-md-3">
        <h3>Advertisement</h3>
        <div class="card" style="height: 300px;">

          <div class="card-body">


          </div>
        </div>
        <div class="card" style="height: 300px;">

          <div class="card-body">


          </div>



        </div>

      </div>
    </div>




    </body>
    <%- include('partials/footer') %>

      </html>